@model List<eShop.models.CartItem>

<h1>Kundvagn</h1>

<a class="btn btn-rounded" asp-controller="Products" asp-action="Index">Gå tillbaka till produkter</a>

<table>
    <thead>
        <tr>
            <th>Namn</th>
            <th>Antal</th>
            <th>Totalpris</th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal total = 0M;
            foreach (var cartItem in Model)
            {
                <tr>
                    <td>@cartItem.Product.Name</td>
                    <td>@cartItem.Quantity</td>
                    <td>@cartItem.TotalPrice</td>
                </tr>
                total += cartItem.TotalPrice;
            }
        }
    </tbody>
</table>

<div class="fright">Total: @total</div>

<a class="btn btn-rounded" asp-controller="Cart" asp-action="EmptyCart">Tömma kundvagnen</a>
