@model List<eShop.models.Product>;

<h1>Produkter</h1>

<a class="btn btn-rounded" asp-controller="Cart" asp-action="Index">Gå till kundvagnen</a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Namn</th>
            <th>Pris</th>
            <th>Lägga till kundvagnen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in @Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td><a asp-controller="Cart" asp-action="AddProduct" asp-route-productID="@product.ID"><i
                            class="fa-solid fa-circle-plus"></i></a></td>
            </tr>
        }
    </tbody>
</table>
